
{% extends "base.html" %}
<script src="{{ url_for('static', filename='updateDescription.js') }}" defer></script>
{% block main %}
  <h2>Create Your Character</h2>
  {% if error %}
    <div class="alert alert-danger" role="alert">
      Error: {{ error }}
    </div>
  {% endif %}

    <h1 class="mb-4">Create Your Character</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        <!-- Character Name -->
        <div class="mb-3">
            <label for="name" class="form-label">Character Name:</label>
            {{ form.name(class="form-control") }}
        </div>

        <div class="mb-3">
            <label for="race" class="form-label">Select Race:</label>
            {{ form.race(class="form-select", onchange="updateDescription('race', this)") }}
            <p id="race_desc" class="mt-2 text-muted"></p>
        </div>

        <div class="mb-3">
            <label for="character_class" class="form-label">Select Class:</label>
            {{ form.character_class(class="form-select", onchange="updateDescription('class', this)") }}
            <p id="class_desc" class="mt-2 text-muted"></p>
        </div>

        <div class="mb-3">
            <label for="background" class="form-label">Select Background:</label>
            {{ form.background(class="form-select", onchange="updateDescription('background', this)") }}
            <p id="background_desc" class="mt-2 text-muted"></p>
        </div>

        <!-- Appearance -->
        <div class="mb-3">
          <label for="appearance" class="form-label">Appearance:</label>
          {{ form.appearance(class="form-control", rows=4) }}
        </div>

        <button type="submit" class="btn btn-primary">Create Character</button>
    </form>
{% endblock %}
