{% extends "base.html" %}
{% block main %}
  <h2>Create Your Character</h2>
  {% if error %}
    <div class="alert alert-danger" role="alert">
      Error: {{ error }}
    </div>
  {% endif %}
  <form method="POST">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
      {{ form.name.label(class="form-control-label") }}
      {{ form.name(class="form-control") }}
    </div>
    
    <div class="form-group">
      {{ form.char_class.label(class="form-control-label") }}
      {{ form.char_class(class="form-control") }}
    </div>
    
    <div class="form-group">
      {{ form.race.label(class="form-control-label") }}
      {{ form.race(class="form-control") }}
    </div>
    
    <div class="form-group">
      {{ form.background.label(class="form-control-label") }}
      {{ form.background(class="form-control") }}
    </div>
    
    <div class="form-group">
      {{ form.appearance.label(class="form-control-label") }}
      {{ form.appearance(class="form-control") }}
    </div>
    
    <div class="form-group">
      {{ form.submit(class="btn btn-success") }}
    </div>
  </form>
  <br>
  <a class="btn btn-secondary" href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}
